<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Usuarios</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Correo Electrónico</th>
                <th>Contraseña</th>
                <th>Confirmar Contraseña</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>juan.perez@gmail.com</td>
                <td>123456</td>
                <td>123456</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>María García</td>
                <td>maria.garcia@outlook.com</td>
                <td>456789</td>
                <td>456789</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Carlos López</td>
                <td>carlos.lopez@gmail.com</td>
                <td>7890147</td>
                <td>7890147</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Ana Martínez</td>
                <td>ana.martinez@misena.edu.co</td>
                <td>101258</td>
                <td>101258</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Pedro Sánchez</td>
                <td>pedro.sanchez@hotmail.com</td>
                <td>159202</td>
                <td>p159202</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>Lucía Fernández</td>
                <td>lucia.fernandez@gmail.com</td>
                <td>753303</td>
                <td>753303</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Jorge Ramírez</td>
                <td>jorge.ramirez@outlook.com</td>
                <td>7541404</td>
                <td>7541404</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>Elena Torres</td>
                <td>elena.torres@outlook.com</td>
                <td>50512305</td>
                <td>50512305</td>
                <td>Usuario</td>
            </tr>
            <tr>
                <td>Diego Ruiz</td>
                <td>diego.ruiz@misena.edu.co</td>
                <td>74102606</td>
                <td>74102606</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>Laura Gómez</td>
                <td>laura.gomez@hotmail.com</td>
                <td>95623707</td>
                <td>95623707</td>
                <td>Usuario</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
